div {
    font: bold;
    color: red;
    text-align: center;
    

}
h2 {
    color: black;
    font-size: 2em;
}

button {
    display: inline;
    color: blue;
}

body {
    background-color: lightgrey;
}

