div {
    font: bold;
    color:black;
    text-align: center;
    

}
h1 {
    color:green;
    font-size: 2em;
}

button {
    display: inline;
    color: blue;
}

body {
    background-color: lightgrey;
}

